.container {
    text-align: center;
    margin-top: 50px;
  }
  
  .inputField {
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .errorMessage {
    color: red;
  }
  
  .button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttonNext {
    background-color: #007bff;
    color: #fff;
  }
  
  .buttonFinish {
    background-color: #000;
    color: #fff;
  }
  